body{background-color: rgba(204, 105, 24, 0.74);
}
.part1 { text-align: center;
font-size: 110%;
color: bisque;
}
.part1{border-color: rgb(255, 228, 196);
border-style: outset;
border-width: 4px;
border-left: 20%;
}
#ima1 {width: 23%;
}
 .fig1 {background-color: rgb(241, 149, 29);
    border-style: inset;
    border-color: rgb(235, 99, 1);
    border-width: 5px;
}
#ima1 {margin-right: 5%;
}
#ima1 {left: 30%;}