body{background-color: rgba(204, 105, 24, 0.74);
}
.part1 { text-align: center;
font-size: 110%;
color: bisque;
}
.part1{border-color: rgb(255, 106, 0);
border-style: outset;
border-width: 5px;
border-left: 20%;
}
#ima1 {width: 22%;
}
 .fig1 {background-color: rgb(241, 152, 34);
    border-style: inset;
    border-color: rgb(255, 106, 0);
    border-width: 5px;
}
#ima1 {margin-right: 5%;
}